// @import "~taro-ui/dist/style/components/modal.scss";
page {
    position: relative;
    background-color: #ededed;
    height: 100%;
    .login-button {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -100px;
        width: 200px;
    }
}

.weui-cell__hd {
    width: 80px;
}

.weui-select {
    border-right: none;
    padding-left: 0;
}

.weui-cell_select {
    border-bottom: 1px solid #d9d9d9;
}

.weui-uploader__file, .weui-uploader__input-box{
    margin-top: 18px;
    margin-bottom: 18px;
    /* margin-left: 9px; */
}

.my-class{
    width: 80%;
    background: #CCCCCC;
}

.mySelector{
    color: green;
}


.feature-switch {
    line-height: 102px;
}

.weui-uploader__file{
    position: relative;
    .weui-delete-image{
        position:absolute;
        color: red;
        font-size: 13px;
        top:0px;
        right:-10px;
        width:40px;
        height:20px
    }    
}

map {
    width:100%;
    // padding-left: 10px;
    // padding-right: 10px;
    height:270px; 
    position:relative;
   }

.current-site-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

